.cardBody{
    width: 650px;
    height: 340px;
    /* background-color: gray; */
    padding: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 3px solid #00ce9f;
    border-bottom: 3px solid #00ce9f;
}

.logoImage{
    height: 30%;
    margin: 5%;
}

.logoForm b{
    color: #017969;
}
.logoForm{
    margin-top: 15%;
}
.logoForm p{
    color: #00DBA0; 
    margin-top: -3%;
    font-size: 1.1rem;
    font-weight: bolder;
}

.cardImage{
    margin: 5%;
    margin-left: -5%;
    border: 1px solid #00ce9f;
}


.UserAuthCard b{
    color: #017969;
}
.UserAuthCard{
    margin-top: 15%;
}
.UserAuthCard p{
    color: #00DBA0;
    /* margin-top: -3%; */
    font-weight: bolder;
    font-size: 1.1rem;
    margin-top: 77%;
    /* padding-top: 65%; */
    width: 130%;
    padding-top: 4px;
    border-top: 1px solid;
    /* border: 1px solid; */
    margin-left: -35%;
    padding-left: 10%;
}